#headshot {
    border-radius: 150px;
}

iframe {
    display: block;
}

body figure img {
    display: block;
    padding: 1em;
    margin: auto;
}

body figure figcaption {
    width: 50%;
    height: 30%;
}

.odd {
    display: flex;
    flex-direction: row;
}

.subsection {
    opacity: 1;
    transition-duration: 3s;
    transition-property: opacity;
}

.slide {
    opacity: 1;
    transition-duration: 2s;
    transition-property: all;
}

.extrahidden {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.section--hidden {
    opacity: 0;
}

.even {
    display: flex;
    flex-direction: row-reverse;
}

.figurewrapcrit {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
}

#crittertext {
    margin-top: 5%;
    width: 30%;
    padding-left: 8rem;
}

#end h3 {
    color: white;
    font-family: 'Merienda';
}

.endnote {
    padding-left: 0;
}

#end {
    background-color: black;
    color: white;
    overflow: hidden;
}

#crittitle {
    margin-bottom: 0;
}

#bank {
    padding-left: 8rem;
}

#crit {
    padding-bottom: 0;
}

.video {
    flex-grow: 1;
    margin-left: 5%;
    width: 30%;

}

.pro {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.pro,
figcaption {
    display: block;
    margin: auto;
}

.pro,
img {
    width: 70%;
    height: 30%
}

#background {
    width: 100%;
    height: 900px;
}


body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

body h1 {
    font-style: italic;
    text-align: center;
}

body nav {
    display: block;
    margin: auto;
    width: 70%;
}

.nav.sticky {
    position: fixed;
    top: 0;
    background-color: unset;
    width: 100%;
    margin: auto auto;
    font-weight: bold;
    z-index: 10;
}

body div {
    display: block;
    padding: 3%
}

body nav ul li {
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

body nav ul {
    display: flex;
    flex-direction: row;
}

body ul li h4 {
    /* text-decoration: underline; */
    text-align: center;
    font-size: larger;
    padding-top: 0rem;
}

body ul li {
    list-style-type: none;
    flex-grow: 1;
}

#first-block {
    position: relative;
    top: 10%;
    width: 30%;
    padding-right: 0;
    margin-right: 0;
    flex-grow: 2;
}

#head {
    position: relative;
    width: 50%;
    top: 0;
    right: 0%;
    flex-grow: 1;
}

#first-page {
    width: 100%;
    height: 797px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.nav ul {
    margin-left: 0;
    padding-left: 0;
    margin-right: 3.2%;
}

body {
    line-height: 150%;
    font-size: 120%;
}

#section1 h1 {
    text-align: center;
    padding-bottom: 2rem;
}


#first-block h2 {
    color: white;
    text-align: right;
}

#first-block p {
    color: white;
    text-align: right;
}

#Kyle {
    margin-bottom: 3rem;
}

#java {
    color: rgb(143, 69, 4);
}

#python {
    color: rgb(20, 107, 193);
}

#unity {
    color: rgb(178, 177, 177);
}

#javascript {
    color: rgb(215, 201, 3);
}

#html {
    color: purple;
}

#mysql {
    color: rgb(35, 152, 100);
}

#r {
    color: rgb(143, 172, 229);
}

#git {
    color: rgb(214, 60, 4);
}



#headshot {
    display: block;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 20%;
    width: 40%;
    height: 39%;
}

#headshot:hover {
    opacity: 50%;
    cursor: url(), pointer;
}

.endnote {
    text-align: center;
}

.intro {
    text-align: center;
}

#project {
    display: block;
    margin-left: 3%;
}

body nav ul li a {
    color: rgb(168, 167, 167);
    text-decoration: none;
}

body nav ul li a:hover {
    color: aliceblue;
}

body ul li figure figcaption {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

body ul li figure figcaption iframe {
    padding: 1rem;
    margin: auto;
}

body ul li figure {
    display: flex;
    flex-direction: row;
}

body ul li figure img {
    width: 450px;
    height: 600px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: all 0.5s;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: rgb(241, 240, 240);
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.hidden {
    display: none;
}


button {
    border: none;
    font-size: large;
    text-decoration: underline;
}

button:hover {
    font-style: oblique;
}

.btnpair {
    border-radius: 2rem;
    font-size: xx-large;
    background-color: white;
    text-decoration: none;
    height: 20%;
    margin: auto auto;
}

.btnpair:hover {
    color: white;
    background-color: black;
}


#lifeca {
    display: flex;
    flex-direction: row;
}

#over {
    position: sticky;
    left: 40%;
    top: 350px;
    width: 22%;
    color: rgb(55, 161, 254);
}

@media(max-width:900px) {
    #over {
        position: fixed;
        left: 40%;
        top: 350px;
        width: 22%;
        font-size: 14px;
    }
}

@media(max-width:600px) {
    #over {
        position: fixed;
        left: 40%;
        top: 350px;
        width: 22%;
        font-size: 10px;
    }
}

#first {
    width: 100%;
    background: #000;
    height: 797px;
    margin: 0 0 0 0;
    overflow: hidden;
}

#section1 {
    width: 100%;
    height: 797px;
    margin: 0 0 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

iframe {
    border: 0;
}

.figurewrap {
    display: flex;
    flex-direction: row;
}

.figuretext {
    flex-grow: 1;
    width: 50%;
    margin-top: 5%;
}

.pro {
    flex-grow: 1;
}

#section2 {
    background-color: rgb(0, 0, 0);
    color: white;
}

#skills {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.skilllist {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

h3 {
    text-align: center;
}


#list2 {
    padding-left: 1%;
}

#skillnames {
    flex-grow: 1.5;
    padding-left: 0;
    padding-right: 1rem;
    width: 500px;
}

#titleskill {
    flex-grow: 0.2;
    padding-right: 0;
}

#titleskill h2 {
    text-align: right;
}





.about {
    position: relative;
    top: 5%;
}

#background {
    z-index: -1;
}

#first h1 {
    color: aliceblue
}

html,
body {
    margin: 0;
    padding: 0;
}
